@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mclaren {
  background-image: url("https://cdn.discordapp.com/attachments/1096527026367758429/1114273876013219890/mclaren.png");
}

.why-us {
  background-image: url("https://images.pexels.com/photos/9843580/pexels-photo-9843580.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.about-us {
  background-image: url("https://images.pexels.com/photos/10854756/pexels-photo-10854756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.hidden {
  opacity: 0;
  transition: all 0.5ms;
}

.show {
  opacity: 1;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

#bg-salmon {
  text-decoration: underline;
}